:root {
    --primary: #b7f397;
    --secondary: #e7edde;
    --tertiary: #141314;
    --text: #e6e1e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('../img/bg.png');
    user-select: none;
    font-family: "Google Sans Text", sans-serif;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--primary);
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 20px;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.menu a {
    color: var(--tertiary);
    text-decoration: none;
    margin-right: 1rem;
}

.active {
    text-decoration: underline !important;
}

.container {
    width: 60%;
    position: relative;
    left: calc(50% - 30%);
    background-color: var(--secondary);
    border-radius: 24px;
    padding: 1rem 3rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

aside {
    position: fixed;
    right: 2rem;
    top: 5rem;
    background: var(--secondary);
    padding: 2rem;
    border-radius: 24px;
}

input {
    border: 1px solid var(--tertiary);
    border-radius: 24px;
    padding: 10px 20px;
    width: 90%;
    margin-left: calc(50% - 45%);
    font-size: 1rem;
    outline: none;
}

select {
    border: 1px solid var(--tertiary);
    border-radius: 24px;
    padding: 10px;
    width: 90%;
}

.btn {
    border: 1px solid var(--tertiary);
    border-radius: 24px;
    padding: 10px 20px;
    width: 30%;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#fileInput {
    width: fit-content;
}

#suggestions {
    cursor: pointer;
    position: relative;
    left: 1rem;
}

.suggestion {
    width: fit-content;
    border-radius: 30px;
    padding: .2rem .5rem;
    margin: .5rem 0;
    color: var(--text);
}

.color-container {
    display: inline-flex;
    position: relative;
    width: 600px;
    left: calc(50% - 300px);
    top: 1rem;
    transition: all 2s;
    display: none;
}

#color-1 {
    transition: all 0.5s;
    width: 33.333%;
    height: 450px;
}

#color-2 {
    transition: all 0.5s;
    width: 33.333%;
    height: 450px;
}

#color-3 {
    transition: all 0.5s;
    width: 33.333%;
    height: 450px;
}

#downloadButton {
    cursor: pointer;
    width: 1.5rem;
    margin-left: 1rem;
    margin-bottom: .3rem;
    display: none;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 80%;
        left: calc(50% - 40%);
    }

    .color-container {
        width: 99%;
        left: calc(50% - 49.5%);
    }

}