#formulario {
    position: relative;
    transition: filter 0.3s;
    text-align: center;
}

#formulario.blur {
    filter: blur(5px);
}

#resultado {
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.fila {
    margin-top: 3rem;
    display: flex;
    width: 70%;
    margin-left: calc(50% - 35%);
}

.fila div {
    flex: 1;
}

#calc {
    margin-top: 4rem;
}

@media screen and (max-width: 767px) {
    #resultado {
        top: -16rem;
    }

    .fila {
        display: block;
    }

    .fila div {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 768px) {
    #resultado {
        top: -7rem;
    }
}