---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colores">
    <main>
        <div class="card">
            <h2>Paleta de Colores</h2>
            <div class="input-container">
                <div class="inputs">
                    <input type="text" id="colorInput" placeholder="Colores" />
                    <i class="fa-solid fa-download" id="downloadButton"></i>
                </div>
                <div id="suggestions"></div>
            </div>
        </div>
        <div class="card hidden" id="secondCard">
            <div class="color-container" id="colorContainer">
                <div id="color-1" class="colores"></div>
                <div id="color-2" class="colores"></div>
                <div id="color-3" class="colores"></div>
            </div>
        </div>
    </main>
    <script src="../assets/js/colores.js"></script>
</Layout>
<style>
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        gap: 1rem;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .inputs {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .inputs i {
        cursor: pointer;
        font-size: 1.5rem;
    }

    #suggestions {
        cursor: pointer;
        position: relative;
        width: 55%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-height: 200px;
        overflow: hidden;
    }

    .color-container {
        display: inline-flex;
        position: relative;
        margin: 0 auto;
        top: 1rem;
        transition: all 2s;
        display: none;
        width: 650px;
    }

    @media screen and (max-width: 1000px) {
        #secondCard {
            padding: 1rem 1rem 2rem 1rem;
        }
        #suggestions {
            padding: 0.6rem 1rem;
            max-height: 100px;
            overflow: hidden;
        }
        main {
            flex-direction: column;
        }

        .color-container {
            width: 99%;
            left: calc(50% - 49.5%);
        }
    }
</style>
