---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tallas">
	<main>
		<div class="card">
			<div id="formulario">
				<h2>Recomendador de tallas</h2>
				<div class="inputs">
					<div>
						<input id="talla" placeholder="Talla" type="text" />
					</div>
					<div>
						<input id="peso" placeholder="Peso" type="text" />
					</div>
					<div>
						<select id="estilo" name="estilo">
							<option value="1">Entallado</option>
							<option value="2">Normal</option>
							<option value="3">Holgado</option>
						</select>
					</div>
					<button class="btn" id="calc">Calcular</button>
				</div>
			</div>
			<div id="resultado"></div>
		</div>
	</main>

	<script src="../assets/js/tallas.js"></script>
</Layout>
<style>
	.inputs {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	#formulario.blur {
		filter: blur(5px);
	}

	#resultado {
		display: none;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		top: -20rem;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 20px;
		border-radius: 10px;
		text-align: center;
		font-size: 20px;
	}
	@media (max-width: 768px) {
		.inputs {
			margin-top: calc(90% - 10rem);
		}
		input {
			width: 95%;
		}

		select {
			width: 100%;
			margin: 0 calc(50% - 46.5%);
		}
		.btn {
			margin: 1.5rem auto;
			width: 80%;
		}
		#resultado {
			top: -16rem;
		}
	}
</style>
