---
import Layout from "../layouts/Layout.astro";
import Records from "../Components/Records.jsx";
---

<Layout title="Registro">
    <main>
        <Records client:load />
    </main>
</Layout>

<style>
    #recordsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .registro-container {
    }
</style>
