---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <h1>No desarrollado aún :C</h1>
    </main>
</Layout>
<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>
