---

---

<header>
    <div class="logo">
        <img
            src="https://neru.pe/cdn/shop/files/favicon_6271f66c-9e04-4d48-841c-ff68643db8a8.png?v=1688055685"
            alt="Logo"
        />
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/">Tallas</a>
            </li>
            <li>
                <a href="/destinos">Destinos</a>
            </li>
            <li>
                <a href="/colores">Colores</a>
            </li>
            <li>
                <a href="/packs">Packs</a>
            </li>
            <li>
                <a href="/registro">Registro</a>
            </li>
        </ul>
    </div>
</header>
<style>
    header {
        background-color: var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        height: 4rem;
    }

    .logo {
        padding: 0.5rem 1rem;
    }

    .menu ul {
        display: flex;
        padding: 0.5rem 1rem;
        gap: 1rem;
        list-style: none;
    }
    .menu ul li {
        padding: 0.5rem;
    }
    a {
        text-decoration: none;
        color: var(--text-color);
    }
    @media (max-width: 1000px) {
        .logo {
            width: 80%;
        }
        .menu ul {
            font-size: 0.8rem;
            gap: 0.2rem;
        }
        .menu ul li {
            padding: 0.4rem;
        }
    }
</style>
