@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";


@font-face {
  font-family: "CircularStd-book";
  src: url("../assets/fonts/CircularStd-Book.eot");
  src:
    url("../assets/fonts/CircularStd-Book-1.eot") format("embedded-opentype"),
    url("../assets/fonts/CircularStd-Book.woff") format("woff"),
    url("../assets/fonts/CircularStd-Book.ttf") format("truetype"),
    url("../assets/fonts/CircularStd-Book.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "CircularStd-book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0eee6;
}


/* Smooth transitions */
.modal-container {
  transition: transform 0.3s cubic-bezier(0.32, 0.72, 0, 1);
}

/* Custom scrollbar for modal */
.modal-body::-webkit-scrollbar {
  width: 6px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.6;
  padding: 4px;
}

.modal-body {
  -webkit-overflow-scrolling: touch;
  /* Scroll suave en iOS */
}